@import url('reset.css');

@font-face {
  font-family: 'tropical_asian_demoregular';
  src: url('assets/fonts/tropicalasiandemo-regular-webfont.woff2')
      format('woff2'),
    url('assets/fonts/tropicalasiandemo-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --background-color: #181a1b;
  --block-hover-color: hsl(200, 6%, 20%);
  --header-height: 100px;
}

body {
  background: var(--background-color);
  color: white;
  font-family: 'tropical_asian_demoregular', monospace, sans-serif;
}

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
  position: absolute;
  top: 0;
}

.display {
  display: initial;
}

header {
  height: var(--header-height);
  display: grid;
  place-content: center;
  padding-top: 2rem;
}

header h1 {
  font-weight: 400;
  font-size: 8rem;
}

main {
  padding-top: 0.9rem;
  min-height: calc(100% - var(--header-height));
  height: calc(100% - var(--header-height));
}
/* menu-page */

.menu-page {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
  margin-top: 30vh;
}

.menu-page.fade-out {
  animation: fade-out 1.4s linear forwards;
  visibility: hidden;
}

.menu-page.fade-in {
  animation: fade-in 0.3s linear forwards;
}

.menu-page button {
  background: none;
  color: white;
  padding: 1rem;
  font-size: 4rem;
  border-radius: 12px;
  font-weight: 300;
}

.menu-page button:hover:not(:disabled),
.menu-page button:focus:not(:disabled) {
  animation: scale-up-and-down 0.65s ease-in-out infinite alternate;
  cursor: pointer;
}

@keyframes scale-up-and-down {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.5);
  }
}

/* main page (board page) */

.main-page.fade-in {
  animation: fade-in 0.5s linear forwards;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding-top: 2.5rem;
}

.board {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  aspect-ratio: 1/1;
  width: 80%;
  max-width: 400px;
  border-radius: 8px;
  margin-bottom: 2rem;
}

.board .block {
  display: flex;
  border: 1px solid white;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  border-radius: 8px;
  transition: transform 0.1s ease;
  width: 100%;
  aspect-ratio: 1/1;
}

.board .block:empty {
  cursor: pointer;
}

.board .block:empty:hover,
.board .block:empty:focus {
  transform: scale(1.05);
  background-color: var(--block-hover-color);
}

p.turn {
  font-size: 3rem;
}

p.winner {
  font-size: 2.5rem;
}

/* main page (board page) */

/* General Animations */
@keyframes fade-out {
  0% {
    opacity: 1;
    visibility: visible;
  }

  50% {
    opacity: 0;
  }

  100% {
    visibility: hidden;
    position: absolute;
    opacity: 0;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    visibility: hidden;
  }

  100% {
    opacity: 1;
    visibility: visible;
  }
}

/* Media Queries */

@media screen and (max-width: 740px) {
  header h1 {
    font-size: 6rem;
  }

  main {
    padding-top: 0;
  }

  .menu-page {
    flex-direction: column;
    margin-top: 20vh;
    align-items: center;
  }

  .menu-page button {
    font-size: 3rem;
    padding: 0.8rem;
    width: 300px;
  }
}
